/* GERAL
*********/
.pointer { cursor: pointer; }
.inline { display: inline-block; }
.none { display: none; }
.padding-zero { padding: 0; }
.margin-zero { margin: 0; }
/* BOOTSTRAP ALTERADO
**********************/
.modal-title { font-size: 18px; }
/* HOME
*******/
.espacamento-vertical-1 { margin-top: 50px; }
.espacamento-vertical-2 { margin-top: 10px; }
.fundo-cinza 			{ background: #989898; }
.borda 					{ border: 1px solid black; }
.altura-max 			{ max-height: 30px; }
.zebrado 				{ background: #f0f0f0; }
.btn-esticado 			{ width: 100%; }
.input-menor 			{ border-radius: 5px; border: 1px solid black; }